:root {
    --witsBlue: #003B5C;
    --witsGold: #917248;
    --projectGrey: #D9D9D9;
    --projectWhite: white;
    --text-color: #2c3e50;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--witsBlue);
    display: flex;
    justify-content: flex-end; /* Align items to the far right */
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.landing_container {
    background-color: var(--projectWhite);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 450px;
    width: 40%;
    z-index: 1;
    height: 90%; /* Auto height allows the container to adjust based on its content */
    border-radius: 10%;
    margin-right: 10px;

}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -1;
}


.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -1;
}


.logo {
    width: 80px;
    margin-bottom: 20px;
}

h1 {
    color: var(--witsBlue);
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: var(--witsBlue);
    font-size: 1.2em;
    margin-bottom: 20px;
}

a{
    color: var(--witsGold);
    text-decoration: none;
}

#whitelist{
    font-size: 18px;
}

#statuscheck{
    font-size: 14px;
}

a.btn-primary {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--witsGold);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.btn-primary:hover {
    background-color: var(--witsBlue);
}

.background-logo {
    background-image: url('../images/WitsTransparent.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .landing_container, .info_block {
        width: 90%;
        margin-bottom: 20px;
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
    }
}

