body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c44ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
    z-index: -1;
}

.login_container {
    background-color: #F1FEA4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #1c44ac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16337a;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.social_icon:hover {
    transform: scale(1.1);
}

.additional-options {
    font-size: 0.9em;
}

.additional-options a {
    color: #007AFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.additional-options a:hover {
    color: #16337a;
}

label {
    color: #007AFF;
}
